RewriteEngine On

# 1. Empêcher l'accès direct aux dossiers (sécurité)
Options -Indexes

# 2. Si le fichier demandé existe (ex: une image, un .css), on l'affiche normalement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 3. Sinon, on renvoie tout vers index.php en créant la variable "page". Les / permettent de distinguer les règles suivantes vu que ce n'est ni une lettre ni un chiffre
# Exemple : actus devient index.php?page=actus
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L,QSA]

# 4. Pour les actualités avec ID (ex: actualite/12)
RewriteRule ^actualite/([0-9]+)$ index.php?page=actualite&id=$1 [L,QSA]

# 5. Là on veut gérer le cas où l'admin veut consulter le profil d'un utilisateur spécifique
RewriteRule ^(admin/utilisateurs)/([0-9]+)$ index.php?page=$1&utilisateur_id=$2 [L,QSA]

# 6. Encore un cas, celui où l'utilisateur qu'il veut consulter est l'utilisateur anonyme
RewriteRule ^(admin/utilisateurs)/anonyme$ index.php?page=$1&utilisateur_id=anonyme [L,QSA]

# 7. Pour accéder au panel de gestion des utilisateurs par l'admin.
RewriteRule ^(admin/utilisateurs)$ index.php?page=$1 [L,QSA]