/* Style de base des boutons du carrousel */
.btn-carrousel {
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
  border: none;
  /*border-radius: 50%; Rend le bouton rond */
  width: 45px;
  height: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#btn-precedent {
  left: 10px; /* Positionné à gauche */
}

#btn-suivant {
  right: 10px; /* Positionné à droite */
}

/* Effet de survol sur le bouton */
.btn-carrousel:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Dessin de la flèche (commun aux deux boutons) */
.btn-carrousel span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #ffffff; /* Bordure supérieure blanche */
  border-left: 3px solid #ffffff; /* Bordure gauche blanche */
}

/* Orientation spécifique pour la flèche GAUCHE */
#btn-precedent span {
  transform: rotate(-45deg); /* Tourne le coin vers la gauche */
  margin-left: 4px; /* Ajustement visuel pour centrer la flèche dans le rond */
}

/* Orientation spécifique pour la flèche DROITE (au cas où) */
#btn-suivant span {
  transform: rotate(135deg); /* Tourne le coin vers la droite */
  margin-right: 4px;
}

.carrousel {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 80px);
  width: 100%;
}

/*Les slides seront en fait une bande déroulantante*/
.carrousel-slides {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.carrousel-slide {
  flex: 0 0 100%;
  overflow: hidden;
  visibility: hidden;
  transition:
    transform 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

/*On utilise position plutot que object-position pour centre l'image
En effet, le problème est que object-position ne fonctionne pas vu que mon carrousel est une bande déroulantante */
.carrousel-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* Empêche la déformation en coupant intelligemment les bords si nécessaire */
  object-fit: cover;
  object-position: center; /* Centre l'image dans son conteneur */
}

.carrousel-contenu {
  display: none;
}

.carrousel-compteur {
  display: none;
}
/*.carrousel-contenu {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
*/
.carrousel-contenu h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.affiche {
  visibility: visible;
}

.cache {
  visibility: hidden;
}
