:root {
  --couleur-blanc-mat: #fff8ef;
  --couleur-vert: #485422;
  --couleur-brun: #924c00;
  --fond-footer: #606c38;
  --font-titre: "Tinos", serif;
  --font-texte: "Plus Jakarta Sans", sans-serif;
  --couleur-texte: #46483c;
}

body {
  background-color: color-mix(
    in srgb,
    var(--couleur-blanc-mat) 40%,
    transparent
  );
  font-family: var(--font-texte);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--couleur-texte);
}

/* Evite les comportements par défaut des éléments interactifs */
button,
input,
select,
textarea {
  font-family: inherit; /* Copie la police du parent (body) */
  font-size: inherit; /* Copie la taille du parent (body) */
  color: inherit; /* Copie la couleur du texte du parent (body) */
}

/*Enleve le defaut des boutons*/
button {
  /* 1. Supprime l'effet 3D/ombre natif du bouton */
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none; /* Supprime les ombres portées par défaut */
  background: none; /* Supprime le fond par défaut */
  border: none; /* Supprime les bordures par défaut */
}

/*Bouton primaire*/
.btn-primaire {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--couleur-brun);
  color: white;
  border-radius: 10px;
  border: none;
}

.btn-primaire:hover {
  background-color: #7a3b00;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/*Bouton secondaire*/
.btn-secondaire {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--couleur-vert);
  color: white;
  border-radius: 10px;
}

.btn-secondaire:hover {
  background-color: #3a441a;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/*Style basique des liens. A override si nécessaire */
a {
  text-decoration: none;
  color: var(--couleur-texte);
}

a:hover {
  color: var(--couleur-vert);
  text-decoration: underline;
}

/*Style du header et de la navigation.*/
header {
  background-color: var(--couleur-blanc-mat);
  display: flex;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

header img.logo {
  height: auto; /* Conserve les proportions d'origine (pas d'écrasement) */
  width: 100%; /* Permet au logo d'être fluide */
  max-width: 70px; /* Fixe la taille maximale idéale sur grand écran */
  min-width: 30px; /* Empêche le logo de devenir trop minuscule sur mobile */
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

header .utilisateur-connecte {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.utilisateur-connecte button {
  font-size: 1.2rem;
}

/*Messages*/
.message-erreur {
  color: red;
}
.message-succes {
  color: green;
}

/*Style des titres*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titre);
  color: var(--couleur-vert);
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

/*Style général de mes hero section. L'image serait fournie dans le style spécifique de chaque page*/
section.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

section.hero h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*Section contenu. C'est tout sauf la hero section*/
section.contenu {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/*Section zigzag*/
section.zigzag {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section.zigzag article {
  width: 60%;
}

section.zigzag article:nth-child(even) {
  align-self: flex-end;
}

/*Style du aside de contact qui dit : Envie de nous contacter directement ? */
aside.contact {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  border-top: 1px solid var(--couleur-vert);
  padding-top: 2rem;
}

aside.contact p {
  color: var(--couleur-vert);
  font-size: 1.1rem;
}

/*Style du footer*/
footer {
  display: flex;
  background-color: var(--fond-footer);
  color: var(--couleur-blanc-mat);
  padding: 2rem 0;
  justify-content: space-around;
  font-size: 0.9rem;
}

footer p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.75rem;
}

/*On agrandit la zone invisible mais cliquable autour du texte du lien */
footer ul li a {
  display: inline-block;
  padding: 0.4rem 0;
}

aside.copyright {
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 0.8rem;
}
